.form {
    width: 60%;
    margin: 15px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.mainaddproduct{
    display: flex;
    
}
.addProduct{
   margin-top: 15px; 
   font-size: larger;
}
form{
    margin: 10px;
    padding: 10px;

}

.form label{
    text-align: left;
    display: block; 
    
}

.form input{
    width: 100%;
    padding: 10px;
}

.form select {
    width: 100%;
    padding: 10px;
}

.displayproduct{
    width: 30%;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    /* height: auto; */
    line-height: 11px;
    margin-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.displayproduct img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.displayproduct p{
    font-size: 10px;
}
.displayproduct{
    height: 70vh;
}

.flexdata{
    display: flex;
    justify-content: space-around;
}

.ProductDetail{
   margin-top: 5px;
   line-height: 30px;
}
.headingflex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;   
}
.submitbutton{
    background-color: gray;
    border-radius: 20px; 
    margin: 5px;
}

.submitbutton:hover{
    background-color: #FF80AB;
}