.gridmainsection{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}

.gridcard{
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 10px;
    height: 50vh;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.gridcard img{
    width: 100%;
    height: 50%;
}
.button button{
   display: inline-flex;
   background-color: #fff;
   border: none;
   text-align: center;
}
#deletebutton{
    margin-right: 20px;
    width: 80px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .25s ease-in-out;
    font-size: larger;
}
#editbutton{
    width: 80px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .25s ease-in-out;
    font-size: larger;
}

#deletebutton:hover{
  background-color: #EF5350;
} 
#editbutton:hover{
    background-color: #43A047;
}

@media screen and (max-width: 1000px) {
    .gridmainsection{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 20px;
    }
     
 
 }