.mens-card{
    /* border: 1px solid #da1b1b; */
    height: 400px;
    width: 210px;
}

.mens-card-img{
    /* border: 1px solid #3ac210; */
    height:73%;

}

.mens-card-desc{
    /* border: 1px solid #000; */
    height:auto;
    width: 100%;
    padding: 2px;
}

.mens-card-desc>div{
    /* border: 1px solid #000; */
    padding: 2px;
}

.mens-card-desc-title{
    font-weight: 660;
}

.mens-card-desc-det{
  font-weight: 350;
  font-size: 14px;
}

.mens-card-desc-price{
    font-weight: 600;
    font-size: 14px;
}

.mens-card-desc-price>span{
    font-weight: 430;
    font-size: 11px;
    color: #ff905a;
}



.mens-card-desc-div{
    display: block;
}

.mens-card-desc-cart{
    /* border: 1px solid #d61111; */
    display: none;
    position: relative;
    z-index: 0;
    background: white;
    padding: 0 10px;
    height: 100%;
    margin-top: -49px;
  } 

  .mens-card-desc:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  } 

  .mens-card-desc-cart>button{
    width: 100%;
    background: transparent;
    border: 2px solid #000;
    cursor: pointer;
  }


  .mens-card-desc-cart>button>span{
    text-align: center;
    font-size: 200;
  }


  .mens-card-desc-div:hover +.mens-card-desc-cart{
       display:block;
       transform-style: all;
       transition-duration: 1s;
       padding: 12px;
       display: flex;
       justify-content: center;
  }




  